.add {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

.edit {
    border: #000 solid 2px;
    border-radius: 20px;
    padding: 10px;
}

.check {
    text-decoration: line-through;
}

.list {
    padding-top: 20px;
}

.item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editList {
    border: 0;
    background-color: rgb(212,101,101);
    color: #fff;
    padding: 10px;
}

.removeList {
    border: 0;
    background-color: rgb(212,101,101);
    color: #fff;
    padding: 10px;
}